html {
  /*background: url(http://i.imgur.com/Uc2BYVB.jpg) no-repeat center center fixed;*/
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
  border-style: solid;
  border-color: white;
  border: 5em 5em 5em 5em;
	font-size: 100%;
	font: helvetica;
  font-weight: 300;
	vertical-align: baseline;
  display: block;
  position: static;
}

header {
  display: block;
  border: ;
  padding: ;
  margin: ;
}

div {
  display: block;
  background-color: rgba(255, 255, 255, .4);
  margin: 1em;
  padding: 1em;
  border: .1em;
  border-style: solid;
  border-color: black;
  text-align: center;
}

img {
  margin-top: 2em;
}

footer {
    background: rgba(255, 255, 255, 0.1);
    padding: .5em;
    border: .1em;
    margin: 0;
}

ul {
  display: inline-block;
  text-align: center;
  padding: 0em;
  border: 1em;
  margin: 0px;
  text-decoration: none;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.15em;
  list-style: none;
}

li {
  background-color: #e0c0c7;
  border-style: solid;
  border-color: white;
  border: 0 0 .5em 0;
  display: inline-block;
  margin: inherit 10em inherit 10em;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-container {
  display: block;
  width: 90%;
  margin: 10em auto;
  position: relative;
}

.construction {
  text-align: center;
}

.navigation-bar {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  display: block;
}

.personal-info .about-me {
  margin: 0 0 0 0;
  text-align: center;
  text-transform: none;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
}

.blocks {
  background: #ffeece;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-style: solid;
  border-radius: 55px;
  border: 4px 4px 4px 4px;
  border-color: #605d57;
  text-align: center;
  text-decoration: inherit;
}


#important-font {
  color: black;
  font-size: 30px;
  letter-spacing: 0.1em;
  margin: .5em 0 .5em 0;


}

#repo-link {
color: black;
text-decoration: underline;
text-decoration-color: white;
letter-spacing: 0.15em;

}

/*
