html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
 var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video
 { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }


#waving-hello {
  height: 75%;
  padding: 0em;
  margin: 0em;
}

.main-container {
  display: block;
  width: 75%;
  margin: auto auto;
  position: relative;
}

.greeting {
  text-align: center;
}

.greeting li {
  border-radius: 1000em;
}

.header-name {
  font-size: 100%;
  font-weight: 500;
}

.header-name h1 {
  font-size: 4em;
  font-family: 'Reenie Beanie', cursive;
}

.header-name h4 {
  font-weight: 100;
  padding-top: 2em;
}

.blocks {
  background: #ffeece;
  padding: 20px;
  margin: 10px 0 10px 0;
  border-style: solid;
  border-radius: 55px;
  border: 4px 4px 4px 4px;
  border-color: #605d57;
  text-align: center;
  text-decoration: inherit;
}

html {
  /*background: url(http://i.imgur.com/Uc2BYVB.jpg) no-repeat center center fixed;*/
  webkit-background-size: cover;
  moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Raleway', sans-serif;
  font-weight: 300;
	vertical-align: baseline;
  display: block;
  position: static;
}

header {
  display: block;
  border-bottom: .1em solid black;
  padding: ;
  margin: ;
}

div {
  display: block;
  background-color: rgba(255, 255, 255, .4);
  margin: 1em;
  padding: 1em;
  text-align: center;
}

footer {
    background: rgba(255, 255, 255, 0.1);
    padding: .5em;
    border: .1em;
    margin: 0;
}

ul {
  display: inline-block;
  text-align: center;
  padding: 0em;
  border: 1em;
  margin: 0px;
  text-decoration: none;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.15em;
  list-style: none;
}

li {
  background-color: #ff59f9;
  border-style: solid;
  border-color: white;
  border: 0 0 .5em 0;
  display: inline-block;
  margin: inherit 10em inherit 10em;
  padding: .3em .8em .3em .8em;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #ffffff;
}
